<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        
                    <div class="container tooling-dashboard-container">
        <div ng-show="true" class="col-xs-12 col-sm-12 col-lg-12">
            <div class="container-fluid"> <!-- removed class panel-body container-fluid -->
             <div ui-grid="vmac.gridOptions" id="tooling_dashboard_ui_grid" class="tooling-asset-ui-grid" ui-grid-resize-columns ui-grid-selection
                     ui-grid-edit ui-grid-pinning></div>
            </div> 
        </div>
            <div class="col-xs-6 col-md-6 col-lg-6 col-md-push-5">
                <div class="calculate-accruals">
                    <button type="button" class="btn btn-default" ng-click=""><span>Update Stocks</span></button>
                </div>
            </div>
        </div>
    </div>
        
        <div class="col-md-8">
            <h1 translate="main.title">Welcome, Sample App!</h1>
            <p class="lead" translate="main.subtitle">App is developed using SpringBoot and AngularJS</p>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "{{account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a href="#/login">authenticate</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    You don't have an account yet? <a href="#/register">Register a new account</a>
                </div>
            </div>

            <p translate="main.question">
                If you have any question on this App:
            </p>

            <ul>
                <li><a href="https://twitter.com/java_hipster" target="_blank"  translate="main.link.contact">rajeshrj1981@yahoo.co.in</a></li>
            </ul>

            <p>
             <span translate="main.like">If you like this, don't forget to give us a star on </span>&nbsp;<a href="#" target="_blank" translate="main.github">Github</a>!
            </p>
        </div>
    </div>
</div>
